*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}



body{

	background-image: linear-gradient(to top, #ffa949, #ff45ed);
}

nav{
	background: black;
	text-align: center;
	ul{
		list-style: none;
	}

	ul li{
		display: inline-block;
		margin: 0 20px;
	}
	ul li a{
		color: white;
		font-size: 18px;
		display: inline-block;
		padding: 1em 2em;


	}

}

a{
	text-decoration:none;
}

header{
	background: url(../images/header-pic.jpg) no-repeat center;
	background-size: cover;
	height: calc(100vh - 58px);
	color: white;
	padding-top: 1em;
}

header h1,
header p{
	text-align: center;
	font-size: 3em;
	text-shadow: 3px 0px black;
	margin-top: 2em;
}

img{
	width: 100%;
	height: 100%;
}

.overlay{
	height: 100%;
	transition: transform 1s;
	position: relative;
	z-index: 1;
}

.photo-overlay{
	width: 400px;
	height: 300px;
	margin:15px auto;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 12px 12px;
	
}

.slide p{
	margin-top: 1em;

}

.slide{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: red;
	color: white;
	font-size: 2em;
	text-align: center;

}

.click-me{
	color: white;
	margin-top: 58px;
	display: inline-block;
	border-radius: 10px;
	border:2px solid;
	padding:13px;
	transition: background .5s;

}

.click-me:hover{
	background: teal;
}



.photo-overlay:hover img{
	transform: translateX(100%);
}

.container{
	position: relative;
	width: 500px;
	float: left;
	


	
}

.container .content{
	position: absolute;
	bottom: 0;
	background: rgba(0, 0, 0, .5);
	color: white;
	padding: 20px;
	width: 100%;
	line-height: 1.5;
	transition: bottom .5s;

}

.container:hover .content{
	bottom: 60%;

}


.right{
	width: 500px;
	position: relative;
	float: right;
	height: 337.59px;
	overflow: hidden;
	
}

.text{
	position: absolute;
	top: 0;
	color: white;
	padding: 20px;
	background: rgba(0, 0, 0, .5);
	line-height: 1.5;

}

.right img{
	transition: transform .5s;
}

.right:hover img{
	transform: scale(1.5);
}

.clrfx:after{
	content: '';
	display: table;
	clear: both;
}

main{
	display: flex;
	flex-direction: column;
	margin-top: 4em;
	border:2px solid black;

	
}

section{
	color: white;
	margin: 3em 2em;
	display: flex;

}

section h2{
	margin:auto;
}

section p{
	flex-basis: 70%;
	margin-left: auto;
	font-size: 1.3em;
	line-height: 1.5;
}

section h2,
section p{
	display: inline-block;
}

section h2::after{
	content: '';
	display:inline-block;
	width: 20px;
	height: 20px;
	background: maroon;
	margin-left: 8px;
	transition: transform .5s;

}

section h2::before{
	content: '';
	display:inline-block;
	width: 20px;
	height: 20px;
	background: maroon;
	margin-right: 8px;
	transition: transform .5s;

}

section h2:hover::before{
	transform: skewX(20deg);
}

section h2:hover::after{
	transform: skewX(-20deg);
}

.detail{
	color: blue;
	letter-spacing: 3px;
}





